* {
    box-sizing: border-box;
}

html {
    font-size: $size;
    overflow: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: $size;
    color: $subtitle-color;
    user-select: none;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow: hidden;
}

.app-content {
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: $title-font;
    color: $title-color;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03em;
}

label {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: $subtitle-size;
    color: $subtitle-color;
}

.fade-enter-active {
    transition: opacity .5s !important;
}

.fade-leave-active {
    transition: opacity 0s !important;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.slide-enter-active {
    transition: all 0.5s;
}

.slide-enter,
.slide-leave-active {
    opacity: 0;
    transform: translateY(100%);
}

.slide-leave-active {
    position: absolute;
}

.section-fade-enter-active,
.section-fade-leave-active {
    transition: opacity 0.3s !important;
}

.section-fade-enter {
    opacity: 0;
}

.section-fade-leave-active {
    opacity: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.dash-content {
    min-height: 100%;

    @media(max-width: 991px) {
        overflow-y: auto;
        max-height: 100vh;
    }
}

/*
* Cambios Toastr
*/
.toast {
    box-shadow: none !important;
}

.toast:hover {
    box-shadow: none !important;
}

#toast-container .toast-message {
    font-family: Roboto;
}

.toast-error {
    background-color: #FF4949;
}

.toast-success {
    background-color: #04BF68;
}

.toast-info {
    background-color: #5852F2;
}

.toast-warning {
    background-color: #F9C80E;
}

/*** Aside ***/
.aside-logo {
    min-height: 22px;
}

.list-cards {
    padding: 0 !important;
    background-color: transparent !important;

    .list-item:last-of-type {
        margin-bottom: 5rem;
    }

    .v-avatar.v-list-item__avatar,
    .v-list-item__content,
    .v-list-item__action {
        align-self: center !important;
    }

    .list-item {
        margin: 1em 0;
        border-radius: .2em;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        background-color: $white;
    }
}