@import "@/assets/sass/_variables";

.webapps {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 4rem $padding-content;
    background-image: url('../../../assets/img/fondos/fondo-5.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-items: center;

    &::-webkit-scrollbar {
        width: .2em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $cyan;
        border-radius: 6px;
    }

    &__video{
        max-width: 100%;

        @media (min-width: 1600px){
            max-width: 85%;
        }

        video{
            outline: none;
            max-width: 100%;
        }
    }

    &__content{
        flex-direction: column;
        justify-content: center;
    }

    &__text{
        max-width: 1000px;
        margin-bottom: 4rem;

        h2 {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-family: SprintSansMedium;
            font-size: 1.5rem;
            margin-bottom: 1rem;

            @media (min-width: 1600px){
                font-size: 1.75rem;
            }
            
            .nombre{
                font-family: OswaldDemiBold;
                color: $magenta;
                font-size: 1.65rem;

                @media (min-width: 1600px){
                    font-size: 1.85rem;
                }
            }

            .caja{
                font-family: OswaldDemiBold;
                color: $yellow;
                font-size: 1.65rem;

                @media (min-width: 1600px){
                    font-size: 1.85rem;
                }
            }
        }

        h3{
            color: #fff;
            text-align: center;
            // text-transform: uppercase;
            font-family: SprintSansRegular;
            font-size: 1.25rem;
            margin-bottom: 2rem;

            @media (min-width: 1600px){
                font-size: 1.35rem;
            }

            .libreta{
                font-family: ActOfRejection;
                font-size: 1.4rem;
                color: $yellow;
                line-height: 34px;

                @media (min-width: 1600px){
                    font-size: 1.5rem;
                }
            }
        }

        p{
            font-family: SprintSansLight;
            color: $magenta;
            // text-transform: uppercase;
            font-size: 1.25rem;
            text-align: center;

            @media (min-width: 1600px){
                font-size: 1.35rem;
            }

            .frases{
                font-family: oswaldDemiBold;
                text-transform: uppercase;
            }
        }
    }

    &__options{
        &--options{
            padding-top: 3rem;
        }

        &--item{
            width: 180px;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            margin-bottom: 2rem;
            cursor: pointer;
            box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
            position: relative;

            &:hover{
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #fff;
                    opacity: .2;
                }
            }

            i{
                font-size: 130px;
                color: #232323;
            }

            &.item-1{
                background-color: $magenta;
            }

            &.item-2{
                background-color: $yellow;
            }

            &.item-3{
                background-color: $green;
            }

            &.item-4{
                background-color: $cyan;
            }
        }
    }

    &__behance{
        max-width: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: calc(100vh - 8rem);

        img{
            min-width: 300px;
            max-width: fit-content;
            cursor: pointer;
        }

        &--img{
            filter: grayscale(1);
            margin-bottom: 4rem;
            display: flex;
            justify-content: center;

            &:hover{
                filter: grayscale(0);
            }
        }

        &--text{
            margin-bottom: 4rem;

            h2{
                font-family: SprintSansRegular;
                color: #fff;
                text-transform: uppercase;
                font-size: 1.5rem;
                text-align: center;

                span{
                    font-family: SprintSansBold;
                    color: $yellow;
                    font-size: 1.65rem;
                }
            }
        }

        &--btn{
            display: flex;
            align-items: center;
            flex-direction: column;
            .input-code{
                margin-bottom: 2rem;
                max-width: 400px;

                .v-input__control{
                    .v-text-field__slot{
                        input{
                            font-size: 38px !important;
                            text-align: center;
                            font-family: OswaldBold;
                            text-transform: uppercase;
                            font-style: italic;
                            color: $magenta;
                        }
                    }
                }
            }

            .v-btn {
                min-width: 250px !important;
                font-family: SprintSansMedium;
            }
        }

        @media (min-width: 768px){
            img{
                min-width: 500px;
            }
        }

        @media (min-width: 992px){
            img{
                min-width: 600px;
            }
        }
    }
}