@import "@/assets/sass/_variables";

.webapps {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: $padding-content;
    background-image: url('../../../assets/img/fondos/fondo-5.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-items: center;

    &::-webkit-scrollbar {
        width: .2em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $cyan;
        border-radius: 6px;
    }

    &__video{
        max-width: 100%;

        @media (min-width: 1600px){
            max-width: 85%;
        }

        video{
            outline: none;
            max-width: 100%;
        }
    }

    &__content{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;

        @media (min-width: 992px){
            margin-top: 4rem;
        }
    }

    &__text{
        margin-bottom: 6rem;
        max-width: 900px;

        h1,
        h2 {
            color: #fff;
        }

        h1 {
            font-size: 1.75rem;
            text-transform: uppercase;
            margin-bottom: 1rem;

            .camino{
                font-family: SprintSansLight;
                color: $green;
                font-size: 1.75rem;
            }
        }

        h2 {
            font-family: SprintSansRegular;
            font-size: 1.5rem;

            .libreta{
                font-family: ActOfRejection;
                font-size: 1.85rem;
                color: $green;
            }
        }
    }

    &__options{
        h2{
            font-family: SprintSansLight;
            font-size: 1.5rem;
            color: $yellow;
            text-align: center;
        }

        &--options{
            padding-top: 3rem;
        }

        &--item{
            width: 180px;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            margin-bottom: 2rem;
            cursor: pointer;
            box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
            position: relative;

            &:hover{
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: #fff;
                    opacity: .2;
                }
            }

            i{
                font-size: 72px;
            }

            &.item-1{
                background-color: $magenta;
            }

            &.item-2{
                background-color: $yellow;
            }

            &.item-3{
                background-color: $green;
            }

            &.item-4{
                background-color: $cyan;
            }
        }
    }
}