@import "@/assets/sass/_variables";

.piramide {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 4rem $padding-content;
    background-image: url('../../../assets/img/fondos/fondo-3.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;

    &::-webkit-scrollbar {
        width: .2em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $cyan;
        border-radius: 6px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }

    &__text {
        margin-bottom: 4rem;
        max-width: 1000px;

        h2 {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-family: SprintSansMedium;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            
            .name{
                font-family: OswaldDemiBold;
                color: $magenta;
                font-size: 1.65rem;
            }

            .ultimo{
                font-family: OswaldDemiBold;
                color: $yellow;
                font-size: 1.65rem;
            }
        }

        h3{
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-family: SprintSansRegular;
            font-size: 1.25rem;
            margin-bottom: 2rem;

            .piramidetext{
                font-family: ActOfRejection;
                font-size: 1.4rem;
                color: $yellow;
                line-height: 34px;
            }
        }

        p{
            font-family: SprintSansLight;
            color: $magenta;
            text-transform: uppercase;
            font-size: 1.25rem;
            text-align: center;

            .guia{
                font-family: oswaldDemiBold;
            }
        }
    }

    &__qr {
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;

        img {
            max-width: 400px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;

        .v-btn {
            min-width: 250px !important;
            font-family: SprintSansMedium;
        }
    }
}

.dialog-content {
    &__input {
        margin: 1rem 0 !important;
        border-radius: 50%;

        .v-input__control .v-input__slot {
            border-radius: 50px !important;

            input {
                text-align: center;
                font-size: 1.5rem;
                font-family: OswaldBold;
                text-transform: uppercase;
                font-style: italic;
                color: #ff445a !important;
            }
        }

        &.v-text-field.v-text-field--outlined:not(.v-input--is-readonly).v-input--is-focused .v-input__slot {
            border-color: #ff445a !important;
        }
    }
}