@import "@/assets/sass/_variables";

.piramide {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: $padding-content;
    background-image: url('../../../assets/img/fondos/fondo-3.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;

    &::-webkit-scrollbar {
        width: .2em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $cyan;
        border-radius: 6px;
    }

    &__video {
        max-width: 100%;

        @media (min-width: 1600px) {
            max-width: 85%;
        }

        video {
            outline: none;
            max-width: 100%;
        }
    }

    &__content {
        min-height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media (min-width: 992px) {
            padding-top: 4rem;
        }
    }

    &__text {
        margin-bottom: 4rem;
        max-width: 1000px;

        h1,
        h2 {
            color: #fff;
            text-align: center;
        }

        h1 {
            font-size: 1.75rem;
            text-transform: uppercase;
            margin-bottom: 1rem;

            .nombre {
                color: $yellow;
                font-family: OswaldBold;
                font-size: 2rem;
            }
        }

        h2 {
            font-family: SprintSansLight;
            font-size: 1.5rem;

            .piramideText {
                font-family: ActOfRejection;
                font-size: 1.85rem;
                color: $yellow;
            }

            .nosotros {
                color: $yellow;
                font-family: OswaldBold;
                font-size: 1.85rem;
                text-transform: uppercase;
            }
        }
    }

    &__qr {
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;

        img {
            max-width: 400px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;

        .v-btn {
            min-width: 250px !important;
            font-family: SprintSansMedium;
        }
    }
}

.dialog-content {
    &__input {
        margin: 1rem 0 !important;
        border-radius: 50%;

        .v-input__control .v-input__slot {
            border-radius: 50px !important;

            input {
                text-align: center;
                font-size: 1.5rem;
                font-family: OswaldBold;
                text-transform: uppercase;
                font-style: italic;
                color: #ff445a !important;
            }
        }

        &.v-text-field.v-text-field--outlined:not(.v-input--is-readonly).v-input--is-focused .v-input__slot {
            border-color: #ff445a !important;
        }
    }
}