@import "@/assets/sass/_variables";

.fotomontajes {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 4rem $padding-content;
    background-image: url('../../../assets/img/fondos/fondo-fotomontajes.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::-webkit-scrollbar {
        width: .2em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $cyan;
        border-radius: 6px;
    }

    .content {
        max-width: 1000px;
    }


    &__text {
        max-width: 1000px;
        margin-bottom: 4rem;

        h2 {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-family: SprintSansBold;
            font-size: 2rem;
            max-width: 800px;
            margin: auto;
            margin-bottom: 1.5rem;
            line-height: 38px;

            .todo{
                color: $magenta;
            }
        }

        h3{
            color: #fff;
            text-align: center;
            font-family: SprintSansRegular;
            font-size: 1.25rem;
            margin: auto;
            margin-bottom: 2rem;
            max-width: 800px;
            line-height: 28px;
            
            .esfuerzo{
                color: $yellow;
                font-size: 1.35rem;
                font-family: SprintSansLight;
                text-transform: uppercase;
            }
        }
    }


    &__dragdrop {
        margin-bottom: 7rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        &--select {
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;

            .select-fotomontaje {
                width: 80px;
                height: 80px;
                background-color: #f6f6f6;
                margin-right: 1rem;
                color: #232323;
                font-size: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 4px;

                &.active {
                    box-shadow: 0px 0px 3px 4px rgba(16, 254, 204, .4);
                    background-color: $cyan;
                }

                @media (min-width: 576px) {
                    margin-right: 3rem;
                    width: 140px;
                    height: 140px;
                    font-size: 5rem;
                }

                &.disabled {
                    background-color: #707070 !important;
                    filter: grayscale(1);
                    cursor: not-allowed;
                    box-shadow: none;
                }

                p{
                    margin: 0;
                    font-family: ActOfRejection;
                }
            }

            >div:last-child {
                .select-fotomontaje {
                    margin: 0;
                }
            }
        }
    }

    .selectedFoto {

        &__recursos {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
            flex-wrap: wrap;

            &--img {
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: .5rem;
                background: #F2F1FE;
                border: 2px solid transparent;
                border-radius: 4px;

                img {
                    max-width: 100%;
                }

                @media (min-width: 768px) {
                    width: 120px;
                    height: 120px;
                    margin: 0;
                    margin-right: 1rem;

                    &:last-child {
                        margin-right: 0 !important;
                    }
                }

                @media (min-width: 1200px) {
                    margin-right: 1.5rem;
                }

                &.disabled {
                    cursor: not-allowed;
                    background: #777777 !important;

                    img {
                        filter: grayscale(1);
                    }
                }

                &.active {
                    background: #F2F1FE !important;
                    background-color: #F2F1FE !important;
                    border: 2px solid $magenta;
                }

                &.seleccionable {
                    border: 2px dashed $magenta;
                    
                    img {
                        filter: grayscale(.5);
                    }
                }
            }
        }

        &__lienzo {
            &--empty {
                box-shadow: 4px 4px 7px rgb(0 0 0 / 55%);
                width: 100%;
                background-color: #F1F2FE;
                height: 200px;
                padding: 10px;
                border-radius: 4px;

                @media (min-width: 576px) {
                    height: 300px;
                }

                @media (min-width: 768px) {
                    height: 350px;
                    max-width: 800px;
                }

                @media (min-width: 1200px) {
                    width: 800px;
                    height: 400px;
                    padding: 20px;
                    max-width: 1000px;
                }

                @media (min-width: 1600px) {
                    width: 1000px;
                    height: 600px;
                }
            }

            &--text {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border: dashed 3px $black;
                flex-direction: column;

                i{
                    font-size: 40px;
                    color: #232323;
                    margin-bottom: 1rem;
                }

                h2 {
                    color: $magenta;
                    text-align: center;
                    font-family: SprintSansBold;
                    max-width: 80%;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

                @media (min-width: 576px){
                    i{
                        font-size: 55px;
                        margin-bottom: 1.5rem;
                    }

                    h2{
                        font-size: 1.5rem;
                    }
                }

                @media (min-width: 768px){
                    i{
                        font-size: 65px;
                        margin-bottom: 2.5rem;
                    }

                    h2{
                        font-size: 1.75rem;
                    }
                }

                @media (min-width: 1600px){
                    i{
                        font-size: 85px;
                        margin-bottom: 3rem;
                    }

                    h2{
                        font-size: 2.5rem;
                    }
                }
            }

            &--img {
                margin: auto;
                &.vertical{
                    max-width: 700px;

                    &.mari{
                        max-height: 100%;

                        img{
                            text-align: center;
                        }
                    }
                }
                img {
                    max-width: 100%;
                    box-shadow: 4px 4px 7px rgb(0 0 0 / 55%);
                    border-radius: 4px;
                }

                video{
                    max-width: 100%;
                    box-shadow: 4px 4px 7px rgb(0 0 0 / 55%);
                    min-width: 100%;
                    border-radius: 4px;
                }
            }
        }
    }

    .vfx {
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__select{
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;

            &--selected{
                width: 80px;
                height: 80px;
                background-color: #f6f6f6;
                margin-right: 1rem;
                color: #232323;
                font-size: 3.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 4px;

                &.active {
                    box-shadow: 0px 0px 3px 4px rgba(16, 254, 204, .4);
                    background-color: $cyan;
                }

                @media (min-width: 576px) {
                    margin-right: 3rem;
                    width: 140px;
                    height: 140px;
                    font-size: 5rem;
                }

                &.disabled {
                    background-color: #707070 !important;
                    filter: grayscale(1);
                    cursor: not-allowed;
                    box-shadow: none;
                }

                p{
                    margin: 0;
                    font-family: ActOfRejection;
                }
            }

            >div:last-child {
                .select-fotomontaje {
                    margin: 0;
                }
            }
        }

        &__btns{
            display: flex;
            justify-content: center;
            margin-bottom: .5rem;
            
            .v-btn{
                min-width: 100px !important;
                font-family: SprintSansMedium;
            }
        }

        &__videos{
            position: relative;

            &--efectos{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: hidden;
                border-right: 2px solid;
                display: flex;

                &:not(.drag-slide){
                    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
                }
            }

            &--sinefectos{
                display: flex;
                box-shadow: 4px 4px 7px rgba(0, 0, 0, .55);
            }
            
            video{
                border-radius: 4px;
                width: 320px;

                @media (min-width: 576px){
                    width: 480px;
                }

                @media (min-width: 768px){
                    width: 660px;
                }

                @media (min-width: 1200px){
                    width: 800px;
                }

                @media (min-width: 1600px){
                    width: 1000px;
                }
            }
        }

        &__selectVideo{
            min-height: 305px;

            @media (min-width: 576px){
                min-height: 395px;               
            }

            @media (min-width: 768px){
                min-height: 495px;                
            }

            @media (min-width: 1200px){
                min-height: 574px;               
            }

            @media (min-width: 1600px){
                min-height: 686px;                
            }

            .slide-vfx{
                .v-slider__thumb-label.cyan>div>span{
                    color: #232323 !important;
                    font-family: SprintSansMedium;
                }
                
                .v-slider__thumb.cyan{
                    cursor: pointer;
                }
                
                .v-slider--horizontal .v-slider__track-container{
                    height: 4px !important;
                    cursor: pointer;
                }

                .v-slider--horizontal{
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            p{
                font-family: SprintSansLight;
                display: flex;
                justify-content: center;

                i{
                    font-size: 20px;
                }
            }
        }
    }


    &__btn {
        display: flex;
        align-items: center;
        flex-direction: column;

        .v-btn {
            min-width: 250px !important;
            font-family: SprintSansMedium;
        }

        .disabled {
            background-color: #c2cbcd;
            color: #eeeeee !important;
            cursor: not-allowed;
        }
    }
}