@import "@/assets/sass/_variables";

.instagram {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 4rem $padding-content;
    background-image: url('../../../assets/img/fondos/fondo-5.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-between;

    &::-webkit-scrollbar {
        width: .2em;
    }

    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $cyan;
        border-radius: 6px;
    }

    .content {
        max-width: 1000px;
    }

    &__text {
        margin-bottom: 3rem;
        max-width: 10000px;

        h1,
        h2 {
            color: #fff;
            text-align: center;
        }

        h1 {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: 1.5rem;

            span{
                color: $magenta;
                font-family: oswaldBold;
            }

            @media (min-width: 1600px){
                font-size: 2rem;
                line-height: 38px;
            }
        }

        h2 {
            font-family: SprintSansRegular;
            font-size: 1.25rem;
            margin-bottom: 1.5rem;
            max-width: 900px;
            line-height: 28px;

            .rastro{
                color: $yellow;
                font-size: 1.35rem;
                font-family: ActOfRejection;
            }
        }

        p{
            font-size: 1.25rem;
            font-family: SprintSansLight;
            text-align: center;
            color: $cyan;

            .codigos{
                font-family: oswaldBold;
                text-transform: uppercase;
            }
        }
    }

    &__logo{
        max-width: 1000px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img{
            min-width: 280px;
            max-width: fit-content;
            cursor: pointer;
            filter: grayscale(1);
            transition: .25s ease-in-out;

            &:hover{
                filter: grayscale(0);
            }
        }

        &--img{
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
        }

        &--btn{
            display: flex;
            align-items: center;
            flex-direction: column;

            .input-code{
                margin-bottom: 2rem;
                max-width: 400px;

                .v-input__control{
                    .v-text-field__slot{
                        input{
                            font-size: 38px !important;
                            text-align: center;
                            font-family: OswaldBold;
                            text-transform: uppercase;
                            font-style: italic;
                            color: $magenta;
                        }
                    }
                }
            }

            .v-btn {
                min-width: 250px !important;
                font-family: SprintSansMedium;
            }
        }

        @media (min-width: 768px){
            img{
                min-width: 400px;
            }
        }
    }

}